<p id="notice"><%= notice %></p>

<h1>RFID Cards</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Card ID#</th>
      <!-- <th>Money</th> -->
      <th>Flag</th>
      <th>Number of Pumps</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.sid %></td>
        <!-- <td><%= card.money %></td> -->
        <td><%= card.flag %></td>
        <td><%= card.pump %></td>
        <!-- <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Card', new_card_path %> -->
